Source: ungoogled-chromium-installer
Section: utils
Priority: optional
Maintainer: Your Name <your.email@example.org>
Build-Depends: make
Standards-Version: 4.3.0
Homepage: https://example.org

Package: ungoogled-chromium-installer
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Edit me
 Edit me. I am description
